<div class="row" ng-controller="AppliedLeaveListController as Cntrl">
    <div class="col-md-4">
        <div class="col-xs-12 col-md-4">
            <div class="form-group">
                <label for="Location">TeamLeadId</label>
              <input type="text" ng-model="EmployeeLeaveList.TeamLeadId"  class="form-control input-mask"/>
            </div>
            <div class="form-group fg-line">
                <button type="button" id="btn-SearchHolidays" class="btn btn-primary " ng-click="SearchEmployeeLeaveList(EmployeeLeaveList.TeamLeadId)" >Search</button>
            </div>
        </div>
        <div class="box box-widget" ng-if="LeaveList">
            <div class="box-header with-border">
                <h3 class="box-title">Employee leave</h3>
            </div>
            <div class="box-body">
                @*<div class="row">
                        <div class="col-xs-12 ">
                            <h4>
                                Leave Grant
                            </h4>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <label class=""> Employee Name :</label>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label">{{AppliedLeaveList.EmployeeName}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> Leave Type :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label"> {{AppliedLeaveList.LeaveType}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> Days :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label">   {{AppliedLeaveList.Days}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> From :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label">{{AppliedLeaveList.FromDate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> To :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label"> {{AppliedLeaveList.ToDate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> Reason :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label"> {{AppliedLeaveList.Reason}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> Remarks :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="employee-remarks">{{AppliedLeaveList.Remarks}}</div>
                        <div class="form-group">

                            <textarea class="form-control" rows="3" placeholder="Enter Remarks ..." ng-model="AppliedLeaveList.TeamLeadRemarks"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="button" class="button" ng-click="AcceptOrReject(AppliedLeaveList,'Accept')">Accept Grant</button>
                        <button type="button" class="button button-danger" ng-click="AcceptOrReject(AppliedLeaveList, 'Reject')">Reject</button>
                        <button type="button" class="button-default button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title"> leaves list</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th style="width: 15px">#</th>
                            <th>Employee Id</th>
                            <th>Employee Name</th>
                            <th>Apply Date</th>
                            <th>No.Of Days</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="employeeLeave in EmployeeLeaveList">
                            <td>
                                <button type="button" class="btn btn-default ng-scope waves-effect" ng-click="onEditEmployeeLeave(employeeLeave)" aria-label="button">
                                    <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>{{employeeLeave.SNo}}</td>
                            <td>{{employeeLeave.EmployeeId}}</td>
                            <td>{{employeeLeave.ApplyDate}}</td>
                            <td>
                                {{employeeLeave.Days}}
                            </td>
                            <td>{{employeeLeave.Employee.EmployeeName}}</td>
                            <td>{{employeeLeave.Status}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
