<div class="row" ng-controller="AppliedLeaveListController as Cntrl">
    <div class="col-md-4">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Employee leave</h3>
            </div>
            <div class="box-body">
                @*<div class="row">
                        <div class="col-xs-12 ">
                            <h4>
                                Leave Grant
                            </h4>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <label class=""> Employee Name :</label>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label">  James Anderson </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> Leave Type :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label"> Compensatory Off </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> Days :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label">    1</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> From :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label">  13/03/17 </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> To :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label">  13/03/17 </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> Reason :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <label class="content-label">  testing </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">

                        <label class=""> Remarks :</label>


                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="employee-remarks"> 13/03/17 :  James Anderson</div>
                        <div class="form-group">

                            <textarea class="form-control" rows="3" placeholder="Enter Remarks ..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button type="button" class="btn  btn-success btn-sm">Accept Grant</button>
                        <button type="button" class="btn  btn-danger btn-sm">Reject</button>
                        <button type="button" class="btn  btn-default btn-sm">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title"> leaves list</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>When</th>
                            <th>Step</th>
                            <th>Owner</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employeeLeave in EmployeeLeaveList">
                            <td>1.</td>
                            <td>11 moths ago</td>
                            <td>
                                Apply
                            </td>
                            <td> James Anderson</td>
                            <td>Applied</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
