<div class="row" ng-controller="AppliedLeaveListController as Cntrl">
    <div class="col-md-4">
        <div class="box box-widget">
            <div class="box-header with-border">
                <h3 class="box-title">Employee leave</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 ">
                        <h4>
                            Leave Grant
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>