<style>
    .spanboxNumber {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 11px;
        background: #fff;
        border: 2px solid rgba(102, 102, 102, 0.93);
        color: #666;
        text-align: center;
        padding-left: 8px;
    }
      .designcss {
        border: 3px solid grey;
        border-radius: 2em;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
    }
</style>
<div class="row" ng-controller="EmployeeLeaveFormController">

    <form id="frmEmployeeLeaveForm" name="frmEmployeeLeaveForm" ng-class="{'submitted':submitted}" ng-submit="onSaveEmployeeLeave(EmployeeLeaveForm)" novalidate>
        <div class="col-md-8">
            <div class="box designcss">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Leave Details</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-thumbs-up"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Granted Leaves </span>
                                    <table ng-repeat="leave in GrantedLeave">
                                        <tr>
                                            <td><span class="info-box-number" style="font-size:12px;">{{leave.name}}:</span></td>
                                            <td><span class="info-box-number spanboxNumber"></span>{{leave.count}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm-block"></div>

                        <div class="col-md-4">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-pencil"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Applied Leaves</span>
                                    <span class="info-box-number spanboxNumber">{{appliedStatusCount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow"><i class="fa fa-hourglass-start"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Remaining Leaves</span>
                                    <span class="info-box-number spanboxNumber">{{RemaingStatusCount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box designcss">
                <div class="box-header with-border">
                    <h3 class="box-title">Employee Leave Form</h3>
                </div>
                <div class="box-body">

                  

                    <div class="row " id="some">
                        <div class="col-xs-6 col-md-4 form-group">
                            <label>From Date</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="FromDate" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm datepicker"
                                               ng-model="EmployeeLeaveForm.FromDate"
                                               name="EmployeeLeaveForm.FromDate"
                                               ng-required="true"
                                               date-time-input="{{dateFormat}}">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="EmployeeLeaveForm.FromDate"
                                                    data-datetimepicker-config="{ dropdownSelector: '#FromDate', startView:'day', minView:'day' }" />
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-4 form-group">
                            <label>To Date</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="ToDate" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm datepicker"
                                               ng-model="EmployeeLeaveForm.ToDate"
                                               name="EmployeeLeaveForm.ToDate"
                                               ng-required="true"
                                               date-time-input="{{dateFormat}}">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="EmployeeLeaveForm.ToDate" ng-change="difference(EmployeeLeaveForm.FromDate,EmployeeLeaveForm.ToDate)"
                                                    data-datetimepicker-config="{ dropdownSelector: '#ToDate', startView:'day', minView:'day' }" />
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-4 form-group">
                            <label for="days">Days</label>
                            <input id="days" class="form-control" type="text" ng-disabled="true" ng-model="EmployeeLeaveForm.Days" />
                        </div>
                    </div>
                    <div class="row ">
        <div class="col-xs-12 col-md-4 ">
            <div class="info-box" style="min-width:200px; width:auto; display:inline-block; min-height: 74px;">
                <span class="info-box-icon " style="height: 74px;width: 74px;font-size: 37px;">
                    <i class="fa fa-user fa-2x">
                    </i>
                </span>

                <div class="info-box-content" style="margin-left: 75px;">
                    <span class="info-box-text">
                        <h4>
                            &nbsp;&nbsp;{{employeeName}}
                        </h4>
                    </span>
                </div>
                     @*/.info-box-content*@ 
                    </div>

            </div>
        </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 form-group">
                            <div class="form-group">
                                <label for="Location">Leave Type</label>
                                <select name="users" ng-options="s.LookUpID as s.LookUpDescription for s in LeaveType" ng-model="EmployeeLeaveForm.LeaveTypeId" class="form-control" ng-required="true">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 col-md-offset-4 form-group">
                            <label for="reason">Reason</label>
                            <input id="reason" class="form-control" type="text" ng-model="EmployeeLeaveForm.Reason" />
                        </div>
                    </div>
                    
                     

                    
                    <div class="row ">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label for="remarks">Remarks</label>
                            <input id="remarks" class="form-control" type="text" ng-model="EmployeeLeaveForm.Remarks" />
                        </div>
                      
                            <div class="col-xs-12 col-md-6  text-right" style="margin-top:20px;">

                                <!--has-permission data-securable="Save" data-linkid="Company"-->
                                <button class="btn btn-info" type="submit" ng-click="submitted = true;"  has-Right data-rightValue="EmployeeLeaveForm.Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                                <button class="btn btn-default" type="button" ng-click="OnClearEmployeeLeave(EmployeeLeaveFrom)" has-Right data-rightValue="EmployeeLeaveForm.Clear"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                            </div>
                       
                    </div>
                   
                </div>
            </div>
        </div>

    </form>
</div>
