
<div class="row" ng-controller="EmployeeLeaveFormController">

    <form id="frmEmployeeLeaveForm" name="frmEmployeeLeaveForm" ng-class="{'submitted':submitted}" ng-submit="onSaveEmployeeLeave(EmployeeLeaveForm)" novalidate>
        <div class="col-xs-12">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Employee Leave Form
                    </h3>
                </div>
                <div class="box-body">
                    <div class="row ">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label>Employee Name</label>
                           <input type="text"
                                class="form-control" ng-value="employeeName"
                                  disabled
                                  />

                                @*ng-model="EmployeeLeaveForm.EmployeeName" name="EmployeeLeaveForm.EmployeeName"
                                typeahead-min-length="3"
                                uib-typeahead="response.FirstName for response in EmployeeList($viewValue,'EmployeeName')"*@
                            @*typeahead-wait-ms="100"
                                typeahead-editable="false"
                                typeahead-on-select="EmployeeSelected($item)"
                                ng-required="true" *@
                            
                        </div>
                    </div>
                    <div class="row " id="some">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label>From Date</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="FromDate" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm datepicker"
                                               ng-model="EmployeeLeaveForm.FromDate"
                                               name="EmployeeLeaveForm.FromDate"
                                               ng-required="true"
                                               date-time-input="{{dateFormat}}">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker ng-model="EmployeeLeaveForm.FromDate"
                                                    data-datetimepicker-config="{ dropdownSelector: '#FromDate', startView:'day', minView:'day' }" />
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label>To Date</label>
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="ToDate" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm datepicker"
                                               ng-model="EmployeeLeaveForm.ToDate"
                                               name="EmployeeLeaveForm.ToDate"
                                               ng-required="true"
                                               date-time-input="{{dateFormat}}">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
                                    <datetimepicker ng-model="EmployeeLeaveForm.ToDate" ng-change="difference(EmployeeLeaveForm.FromDate,EmployeeLeaveForm.ToDate)"
                                                    data-datetimepicker-config="{ dropdownSelector: '#ToDate', startView:'day', minView:'day' }" />
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label for="days">Days</label>
                            <input id="days" class="form-control" type="text" ng-disabled="true" ng-model="EmployeeLeaveForm.Days" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 form-group">
                            <div class="form-group">
                                <label for="Location">Leave Type</label>
                                <select name="users" ng-options="s.LookUpID as s.LookUpDescription for s in LeaveType" ng-model="EmployeeLeaveForm.LeaveTypeId" class="form-control" ng-required="true">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label for="reason">Reason</label>
                            <input id="reason" class="form-control" type="text" ng-model="EmployeeLeaveForm.ReasonForLeave" />
                        </div>

                    </div>
                    <div class="row ">
                        <div class="col-xs-12 col-md-6 form-group">
                            <label for="remarks">Remarks</label>
                            <input id="remarks" class="form-control" type="text" ng-model="EmployeeLeaveForm.Remarks" />
                        </div>
                    </div>
                    <div class="row m-t-25">
                        <div class="col-xs-12 text-right">

                            <!--has-permission data-securable="Save" data-linkid="Company"-->
                            <button class="btn" type="submit" ng-click="submitted = true;" has-Right data-rightValue="EmployeeLeaveForm.Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                            <button class="btn btn-default" type="button" ng-click="OnClearEmployeeLeave(EmployeeLeaveFrom)" has-Right data-rightValue="EmployeeLeaveForm.Clear"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
