<div class="tab-pane  m-t-20" id="basic-information">
    <div class="card">
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Employee Number Series</label>
                        <select name="EmployeeTypeList" ng-options="s.LookUpID as s.LookUpCode for s in EmployeeTypeList" ng-model="LookUpID" class="form-control">
                            <option value="">--Select EmployeeType--</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Employee Number Series <small>(Days)</small></label>
                        <input class="form-control " type="number" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Employee No</label>
                        <input class="form-control " value="100" autocomplete="off" type="text" disabled>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Confirmation Date</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="ConfirmationDate" role="button" data-toggle="ConfirmationDate">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="Employee.EmployeeWorkDetail.ConfirmationDate"
                                           name="ConfirmationDate"
                                           ng-required="true"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="Employee.EmployeeWorkDetail.ConfirmationDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#ConfirmationDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Name
                        </label>
                        <input class="form-control" type="text" ng-model="Employee.Name">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Email</label>
                        <input class="form-control " autocomplete="off" type="Email" ng-required="true"ng-model="Employee.Email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Date Of Birth
                        </label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="DOB" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="Employee.DOB"
                                           name="DOB"
                                           ng-required="true"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="Employee.DOB"
                                                data-datetimepicker-config="{ dropdownSelector: '#ConfirmationDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Mobile Number
                        </label>
                        <input class="form-control " autocomplete="off" type="text" ng-model="Employee.Mobile">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 m-b-15">
                    <label>
                        Gender
                    </label>
                    <br />
                    <div class="form-group">
                        <label>
                            <input type="radio" class="minimal" checked ng-model="Employee.Gender">
                            Female
                        </label>
                        <label>
                            <input type="radio" class="minimal" ng-model="Employee.Gender">
                            Male
                        </label>
                        <label>
                            <input type="radio" class="minimal" ng-model="Employee.Gender">
                            Others
                        </label>
                    </div>

                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Emergency Contact Name
                        </label>
                        <input class="form-control " autocomplete="off" type="text" ng-model="Employee.EmergencyContactName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Reporting Manager
                        </label>
                        <select class="selectpicker form-control" data-live-search="true">
                            <optgroup label="Please enter 1 more characters">
                                <option>Mustard</option>
                                <option>Ketchup</option>
                                <option>Relish</option>
                                <option>Tent</option>
                                <option>Flashlight</option>
                                <option>Toilet Paper</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Emergency Contact Number
                        </label>
                        <input class="form-control " autocomplete="off" type="text" ng-model="Employee.EmergencyContactNumber">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Status
                        </label>
                        <select name="users" ng-options="s.LookUpID as s.LookUpCode for s in EmployeeStatusList" ng-model="Employee.Status" class="form-control">
                            <option value="">--Select EmployeeStatus--</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Father's name
                        </label>
                        <input class="form-control " autocomplete="off" type="text" ng-model="Employee.FatherName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Date Of Joining
                        </label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="DateOfJoining" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="EmployeeWorkDetail.JoiningDate"
                                           name="DateOfJoining"
                                           ng-required="true"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="EmployeeWorkDetail.JoiningDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#ConfirmationDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Spouse Name
                        </label>
                        <input class="form-control " autocomplete="off" type="text" ng-model="Employee.SpouseName">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 text-center ">
            <a ui-sref="Employee.EmployeePosition" class="btn  btn-info">
                Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</div>