<div class="tab-pane  m-t-20" id="basic-information">
    <div class="card">
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Employee Id Type</label>
                        <select name="EmployeeTypeList" ng-options="s.LookUpID as s.LookUpCode for s in EmployeeTypeList" ng-model="EmployeeHeader.IDType" class="form-control">
                            <option value="">--Select EmployeeType--</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Employee Number</label>
                        <input class="form-control " type="text" autocomplete="off" ng-model="EmployeeHeader.IDNumber">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            First Name
                        </label>
                        <input class="form-control valid" type="text" ng-model="EmployeeHeader.FirstName"
                                ng-required="true"
                                ng-change="onChageText(EmployeeHeader.FirstName)">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Middle Name
                        </label>
                        <input class="form-control" type="text" ng-model="EmployeeHeader.MiddleName">
                    </div>
                </div> 
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Last Name
                        </label>
                        <input class="form-control valid" type="text" ng-model="EmployeeHeader.LastName" ng-required="true" ng-change="onChangeText(EmployeeHeader.LastName)">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Nationality
                        </label>
                        <select name="Nationality" ng-options="s.CountryCode as s.CountryName for s in Countries" 
                                ng-model="EmployeeHeader.Nationality" class="form-control"
                                ng-required="true" ng-change="onChangeText(EmployeeHeader.Nationality)">
                            <option value="">--Select Nationality--</option>
                        </select>
                        <!--<input class="form-control valid" type="text" ng-model="EmployeeHeader.Nationality" ng-required="true" ng-change="onChangeText(EmployeeHeader.Nationality)">-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Date Of Birth
                        </label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="DOB" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker valid"
                                           ng-model="EmployeeHeader.EmployeePersonalInfo.DOB"
                                           name="EmployeeHeader.EmployeePersonalInfo.DOB"
                                           ng-required="true"
                                           ng-change="onChageText(EmployeeHeader.EmployeePersonalInfo.DOB)"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="EmployeeHeader.EmployeePersonalInfo.DOB"
                                                data-datetimepicker-config="{ dropdownSelector: '#DOB', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Mobile Number
                        </label>
                        <input class="form-control valid" type="text"  ng-model="EmployeeHeader.Address.MobileNo" 
                               ng-required="true" ng-change="onChageText(EmployeeHeader.Address.MobileNo)" logicon-number  />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 ">
                    <label>
                        Gender
                    </label>
                    <br />
                    <div class="form-group">
                        <div>
                            <input type="radio" id="genderChoice1"
                                   name="gender" value="0" ng-model="EmployeeHeader.EmployeePersonalInfo.Gender">
                            <label>Male</label>
                        </div>
                        <div>
                            <input type="radio" id="genderChoice2"
                                   name="gender" value="1" ng-model="EmployeeHeader.EmployeePersonalInfo.Gender">
                            <label>Female</label>
                        </div>
                        <div>
                            <input type="radio" id="genderChoice3"
                                   name="gender" value="2" ng-model="EmployeeHeader.EmployeePersonalInfo.Gender">
                            <label>Other</label>
                        </div>
                    </div>
                   
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Emergency Contact Number</label>
                        <input type="text"  class="form-control" ng-model="EmployeeHeader.EmployeePersonalInfo.EmergencyContactNumber" />
                    </div>
                    </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Emergency Contact Name</label>
                        <input type="text" class="form-control" ng-model="EmployeeHeader.EmployeePersonalInfo.EmergencyContactName" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Email</label>
                        <input class="form-control valid" autocomplete="off" 
                               type="Email" 
                               ng-required="true" 
                               ng-model="EmployeeHeader.Address.Email"
                               ng-blur="onChageText(EmployeeHeader.Address.Email);EmailValid();" >
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>Confirmation Date</label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="ConfirmationDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker valid"
                                           ng-model="EmployeeHeader.EmployeeWorkDetail.ConfirmationDate"
                                           name="EmployeeHeader.EmployeeWorkDetail.ConfirmationDate"
                                           ng-required="true"
                                           ng-change="onChageText(EmployeeHeader.EmployeeWorkDetail.ConfirmationDate)"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="EmployeeHeader.EmployeeWorkDetail.ConfirmationDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#ConfirmationDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                    <!--<div class="form-group ">
                        <label>
                            Emergency Contact Number
                        </label>
                        <input class="form-control " autocomplete="off" type="text" ng-model="EmployeeHeader.Address.EmergencyContactNumber">
                    </div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Date Of Joining
                        </label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="JoiningDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker valid"
                                           ng-model="EmployeeHeader.EmployeeWorkDetail.JoiningDate"
                                           name="EmployeeHeader.EmployeeWorkDetail.JoiningDate"
                                           ng-required="true"
                                           ng-change="onChageText(EmployeeHeader.EmployeeWorkDetail.JoiningDate)"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="EmployeeHeader.EmployeeWorkDetail.JoiningDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#JoiningDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            MarriageDate
                        </label>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="MarriageDate" role="button" data-toggle="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm datepicker"
                                           ng-model="EmployeeHeader.EmployeePersonalInfo.MarriageDate"
                                           name="EmployeeHeader.EmployeePersonalInfo.MarriageDate"
                                           date-time-input="{{dateFormat}}">
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="EmployeeHeader.EmployeePersonalInfo.MarriageDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#MarriageDate', startView:'day', minView:'day' }" />
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Father's name
                        </label>
                        <input class="form-control " autocomplete="off" type="text" ng-model="EmployeeHeader.EmployeePersonalInfo.FatherName">
                    </div>
                  

                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group ">
                        <label>
                            Spouse Name
                        </label>
                        <input class="form-control " autocomplete="off" type="text" ng-model="EmployeeHeader.EmployeePersonalInfo.SpouseName">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
        <div class="col-xs-12 text-center ">
           
        <a ng-click="onClickValid()" class="btn btn-info" style="border-radius: 50%;width: 35px;height: 35px;line-height: 24px;">
             <span class="fa fa-angle-right fa-1g" style="font-size:21px;"></span>
        </a>
          <!--  <a class="btn btn-info" ng-click="onClickValid()">Valid</a>-->
    </div>
</div>
</div>