<div class="tab-pane  m-t-20" id="employee-address">
    <div class="card">
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group fg-line">
                        <label>
                            Address
                        </label>
                        <input id="Address" class="form-control" type="text" ng-model="Employee.Address.Address1" ng-required="true" />
                    </div>
                    <div class="form-group fg-line">
                        <label>
                            Address2
                        </label>
                        <input id="Address2" class="form-control" type="text" ng-model="Employee.Address.Address2" ng-required="true" />
                    </div>
                    <div class="form-group fg-line">
                        <label>
                            City
                        </label>
                        <input id="City" class="form-control" type="text" ng-model="Employee.Address.City" ng-required="true" />
                    </div>
                    <div class="form-group fg-line">
                        <label>
                            State
                        </label>
                        <input id="State" class="form-control" type="text" ng-model="Employee.Address.State" ng-required="true" />
                    </div>
                    <div class="form-group fg-line">
                        <label>
                            Postal Code
                        </label>
                        <input id="PostalCode" class="form-control" type="text" ng-model="Employee.Address.PostalCode" ng-required="true" />
                    </div>
                    <div class="form-group fg-line">

                        <label for="Country"> Country</label>

                        <select name="Country" ng-options="s.Id as s.CountryName for s in Countries" ng-model="Employee.Address.CountryId" class="form-control">
                            <option value="">--Select Country--</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <a ui-sref="Employee.EmployeeBasicInformation" class="btn  btn-info">
            Previous Section <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>

        <a ui-sref="Employee.EmployeePosition" class="btn  btn-info">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
