<div class="tab-pane  m-t-20" id="employee-address">
    <div class="card">
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group fg-line">
                        <label>
                            Address
                        </label>
                        <input id="Address" class="form-control valid" type="text" ng-model="EmployeeHeader.Address.Address1" 
                               ng-required="true" ng-change="onChangeText(EmployeeHeader.Address.Address1)" />
                    </div>
                    <div class="form-group fg-line">
                        <label>
                            Address2
                        </label>
                        <input id="Address2" class="form-control valid" type="text" ng-model="EmployeeHeader.Address.Address2"
                                ng-required="true" ng-change="onChangeText(EmployeeHeader.Address.Address2)" />
                    </div>
                    <div class="form-group fg-line">
                        <label>
                            City
                        </label>
                        <input id="City" class="form-control valid" type="text" ng-model="EmployeeHeader.Address.CityName" 
                               ng-required="true" ng-change="onChangeText(EmployeeHeader.Address.CityName)" />
                    </div>
                    <div class="form-group fg-line">
                        <label>
                            State
                        </label>
                        <input id="State" class="form-control valid" type="text" ng-model="EmployeeHeader.Address.StateName"
                                ng-required="true"
                               ng-change="onChangeText(EmployeeHeader.Address.StateName)" />
                    </div>
                    <div class="form-group fg-line">
                        <label>
                            Postal Code
                        </label>
                        <input id="PostalCode" class="form-control valid" type="text"
                                ng-model="EmployeeHeader.Address.ZipCode" 
                               ng-required="true" ng-change="onChangeText(EmployeeHeader.Address.ZipCode)" />
                    </div>
                    <div class="form-group fg-line">

                        <label for="Country"> Country</label>

                        <select name="Country" 
                                ng-options="s.CountryCode as s.CountryName for s in Countries" 
                                ng-model="EmployeeHeader.Address.CountryCode" 
                                class="form-control valid"
                                ng-change="onChangeText(EmployeeHeader.Address.CountryCode)">
                            <option value="">--Select Country--</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <button class="btn">Valid</button>
        <a ui-sref="EmployeeHeader.EmployeeBasicInformation" class="btn  btn-info" ng-if="IsValid == true">
            Previous Section <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>

        <a ui-sref="EmployeeHeader.EmployeePosition" class="btn  btn-info" ng-if="IsValid == true">
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
