<div class="row" ng-controller="EmployeeProfileController">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <!--<th>#Action</th>
                    <th>Employee Designation Name</th>
                    <th>Employee Designation Description</th>
                    <th>Status</th>-->
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="employeeDesignation in EmployeeDesignations">
                    <td>
                        <button type="button" ng-click="onEditEmployeeDesignation(employeeDesignation)" class="btn btn-default ng-scope waves-effect" aria-label="button">
                            <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td><a ng-click="onEditEmployeeDesignation(employeeDesignation)">{{employeeDesignation.LookUpCode}}</a></td>
                    <td>{{employeeDesignation.LookUpDescription}}</td>
                    @*
                    <td><input type="checkbox" ng-model="employeeDesignation.IsActive" disabled="true" /></td>*@
                    <td>
                        <div class="switch-container">
                            <label class="switch">
                                <input type="checkbox" ng-model="employeeDesignation.IsActive" disabled>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>