@*<div ng-controller="EmployeeProfileController">

</div>*@


<div class="card-body card-padding" ng-controller="EmployeeProfileController">
    <div class="">
        <div class="row">
            <div class="col-sm-12">

                <!--      Wizard container        -->
                <div class="wizard-container">

                    <div class="wizard-card m-t-20" data-color="orange" id="wizardProfile">
                        <form action="" method="post">
                            <!--        You can switch " data-color="orange" "  with one of the next bright colors: "blue", "green", "orange", "red", "azure"          -->
                            @*<div class="wizard-header text-center">
                                    <h3 class="wizard-title">Create your profile</h3>
                                    <p class="category">This information will let us know more about you.</p>
                                </div>*@

                            <div class="wizard-navigation">
                                <div class="progress-with-circle">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 21%;"></div>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#basic-information" data-toggle="tab">
                                            <div class="icon-circle">
                                                <i class="zmdi zmdi-account-o"></i>
                                            </div>
                                        </a>
                                        <span> Basic Information</span>
                                    </li>
                                    <li>
                                        <a href="#employee-position" data-toggle="tab">
                                            <div class="icon-circle">
                                                <i class="zmdi  zmdi-pin-account"></i>
                                            </div>

                                        </a>
                                        <span> Employee Position </span>
                                    </li>
                                    <li>
                                        <a href="#PF-ESI" data-toggle="tab">
                                            <div class="icon-circle">
                                                <i class="zmdi  zmdi-balance"></i>
                                            </div>

                                        </a>
                                        <span>PF &amp; ESI</span>
                                    </li>
                                    <li>
                                        <a href="#payment-mode" data-toggle="tab">
                                            <div class="icon-circle">
                                                <i class="zmdi  zmdi-balance-wallet"></i>
                                            </div>

                                        </a>
                                        <span> Payment Mode </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane  m-t-20" id="basic-information">

                                    <h5 class="f-500 c-black p-15 f-14"> Basic Information</h5>
                                    <div class="card">
                                        <div class="card-body card-padding">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>Employee Number Series</label>

                                                        <select class="selectpicker" data-live-search="true">

                                                            <option>Manual Entry</option>
                                                            <option>Permanent Employees</option>
                                                            <option>Temporary Employees</option>


                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>Employee Number Series <small>(Days)</small></label>
                                                        <input class="form-control input-mask" type="number" autocomplete="off">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>Employee No</label>
                                                        <input class="form-control input-mask" value="100" autocomplete="off" type="text" disabled>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>Confirmation Date</label>

                                                        <div class="input-group form-group">
                                                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                            <div class="dtp-container">
                                                                <input type='text' class="form-control date-picker"
                                                                       placeholder="Click here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Name
                                                        </label>

                                                        <input class="form-control input-mask" autocomplete="off" type="text">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>Email</label>
                                                        <input class="form-control input-mask" autocomplete="off" type="Email">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Date Of Birth
                                                        </label>

                                                        <div class="input-group form-group">
                                                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                            <div class="dtp-container">
                                                                <input type='text' class="form-control date-picker"
                                                                       placeholder="Click here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Mobile Number
                                                        </label>
                                                        <input class="form-control input-mask" autocomplete="off" type="text">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6 m-b-15">

                                                    <label>
                                                        Gender

                                                    </label><br /><br />


                                                    <label class="radio radio-inline m-r-20">
                                                        <input type="radio" name="inlineRadioOptions" value="option1">
                                                        <i class="input-helper"></i>
                                                        Female
                                                    </label>

                                                    <label class="radio radio-inline m-r-20">
                                                        <input type="radio" name="inlineRadioOptions" value="option2">
                                                        <i class="input-helper"></i>
                                                        male
                                                    </label>

                                                    <label class="radio radio-inline m-r-20">
                                                        <input type="radio" name="inlineRadioOptions" value="option3">
                                                        <i class="input-helper"></i>
                                                        Others
                                                    </label>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Emergency Contact Name

                                                        </label>
                                                        <input class="form-control input-mask" autocomplete="off" type="text">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Reporting Manager

                                                        </label>
                                                        <select class="selectpicker" data-live-search="true">
                                                            <optgroup label="Please enter 1 more characters">
                                                                <option>Mustard</option>
                                                                <option>Ketchup</option>
                                                                <option>Relish</option>
                                                                <option>Tent</option>
                                                                <option>Flashlight</option>
                                                                <option>Toilet Paper</option>
                                                            </optgroup>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Emergency Contact Number


                                                        </label>
                                                        <input class="form-control input-mask" autocomplete="off" type="text">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Status
                                                        </label>
                                                        <select class="selectpicker" data-live-search="true">
                                                            <option>Confirmed</option>
                                                            <option>Contract</option>
                                                            <option>Probation</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Father's name



                                                        </label>
                                                        <input class="form-control input-mask" autocomplete="off" type="text">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Date Of Joining

                                                        </label>
                                                        <div class="input-group form-group">
                                                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                                                            <div class="dtp-container">
                                                                <input type='text' class="form-control date-picker"
                                                                       placeholder="Click here...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Spouse Name
                                                        </label>
                                                        <input class="form-control input-mask" autocomplete="off" type="text">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane  m-t-20" id="employee-position">
                                    <h5 class="f-500 c-black p-15 f-14"> Employee Position </h5>
                                    <div class="card">
                                        <div class="card-body card-padding">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Designation

                                                        </label>
                                                        <select class="selectpicker" data-live-search="true">
                                                            <option>Accounts Executive</option>
                                                            <option>Business Development Executive</option>
                                                            <option>Business Development Manager</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Department

                                                        </label>
                                                        <select class="selectpicker" data-live-search="true">
                                                            <option>Development</option>
                                                            <option>Facilities</option>
                                                            <option>Finance</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Grade
                                                        </label>
                                                        <select class="selectpicker" data-live-search="true">
                                                            <option>G1</option>
                                                            <option>G2</option>
                                                            <option>G3</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Location
                                                        </label>
                                                        <select class="selectpicker" data-live-search="true">
                                                            <option>Bangalore</option>
                                                            <option>Bellary</option>
                                                            <option>Bidar</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Attendance Scheme

                                                        </label>
                                                        <select class="selectpicker" data-live-search="true">
                                                            <option>General scheme</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane  m-t-20" id="PF-ESI">
                                    <h5 class="f-500 c-black p-15 f-14">PF & ESI </h5>
                                    <div class="card">
                                        <div class="card-body card-padding">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="col-xs-12 col-md-6">
                                                        <div class="form-group fg-line">
                                                            <label>PAN Number</label>
                                                            <input class="form-control input-mask" autocomplete="off" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="checkbox m-b-15">
                                                        <label>
                                                            <input type="checkbox" value="" id="chk1">
                                                            <i class="input-helper"></i>
                                                            Include PF
                                                        </label>
                                                    </div>
                                                    <div id="sb1" style="display:none;">
                                                        <div class="card">
                                                            <div class="card-body card-padding">
                                                                <div class="form-group fg-line">
                                                                    <div class="fg-line">
                                                                        <label>PF Number</label>
                                                                        <input class="form-control input-mask" autocomplete="off" type="text">
                                                                    </div>
                                                                    <small>Format : (Region Code/Office Code/Est Code/Extn No/Member Acc No) Example HR/FBD/0003256/000/0000125.</small>

                                                                </div>
                                                                <div class="form-group fg-line">
                                                                    <label>  UAN Number</label>
                                                                    <input class="form-control input-mask" autocomplete="off" type="text">
                                                                </div>
                                                                <label>
                                                                    PF Excess Contribution

                                                                </label><br /><br />
                                                                <label class="radio radio-inline m-r-20">
                                                                    <input type="radio" name="PF-Excess" value="Employee-max">
                                                                    <i class="input-helper"></i>
                                                                    Employee & Employer contribution - 12% with in wage ceiling (Max Rs.1800)
                                                                </label>
                                                                <br /><br />
                                                                <label class="radio radio-inline m-r-20">
                                                                    <input type="radio" name="PF-Excess" value="Employee-excess">
                                                                    <i class="input-helper"></i>
                                                                    Employee contribution - 12% over and above wage ceiling (In excess to Rs.1800)
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="checkbox m-b-15">
                                                        <label>
                                                            <input type="checkbox" value="" id="chk2">
                                                            <i class="input-helper"></i>
                                                            Include PF

                                                        </label>
                                                    </div>
                                                    <div id="sb2" style="display:none;">
                                                        <div class="card">
                                                            <div class="card-body card-padding">
                                                                <div class="form-group fg-line">
                                                                    <label>  ESI Number</label>
                                                                    <input class="form-control input-mask" autocomplete="off" type="text">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane  m-t-20" id="payment-mode">
                                    <h5 class="f-500 c-black p-15 f-14">PF & ESI </h5>
                                    <div class="card">
                                        <div class="card-body card-padding">
                                            <div class="row">
                                                <div class="col-sm-12  col-md-6">

                                                    <div class="form-group fg-line">
                                                        <label>
                                                            Payment Type
                                                        </label>
                                                        <select class="selectpicker" data-live-search="true">
                                                            <option>Cash</option>
                                                            <option>Bank Transfer</option>
                                                            <option>Cheque</option>
                                                            <option>
                                                                Demand Draft
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="wizard-footer">
                                <div class="pull-right">
                                    <input type='button' class='btns bgm-lightblue btn-sm waves-effect btn-next btn-wd' name='next' value='Next' />
                                    <input type='button' class='btns bgm-green btn-sm waves-effect btn-finish  btn-wd' name='finish' value='Finish' onclick="window.location.href='@Url.Action("EmployeeDirectory","Main",new { area ="Employee"},null)'" />
                                </div>

                                <div class="pull-left">
                                    <input type='button' class='btns bgm-lightblue btn-sm waves-effect btn-previous btn-wd' name='previous' value='Previous' />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div> <!-- wizard container -->

            </div>
        </div>
    </div><!-- end row -->
</div>