<div class="row" ng-controller="EmployeeDirectoryController">
    <div class="table-responsive">
        <div class="pull-right">
            <div>
                <button type="button" class="btn"  ng-click="AddNewEmployeeDetails()">
                    <i class="zmdi zmdi-plus"></i> Add
                </button>

            </div>
        </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#Action</th>
                        <th>
                            Employee No
                        </th>
                        <th>Employee Name</th>
                        <th>Join Date</th>
                        <th>Status</th>
                        <th>Phone No</th>
                        <th>Email</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employeeDetails in employeeDetailsList">
                        <td>
                            <button type="button" ng-click="onEditEmployeeDesignation(employeeDetails)" class="btn btn-default ng-scope waves-effect" aria-label="button">
                                <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>{{employeeDetails.EmployeePersonalInfoId}}</td>
                        <td>{{employeeDetails.FirstName}}</td>
                        <td>{{employeeDetails.EmployeeWorkDetail.JoiningDate}}</td>
                        <td>{{employeeDetails.Status}}</td>
                        <td>{{employeeDetails.Address.Contact}}</td>
                        <td>{{employeeDetails.Address.Email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>