<div class="container-fluid">
    <style>
        .page-header a {
            display: inline-block;
            font-size: 12px;
            min-width: 200px;
            text-align: center;
        }
        ul {
            padding:0;
        }
        .page-header span {
            display: block;
        }

        h2 {
            margin-top: 15px;
            font-size: 16px;
            margin-bottom: 15px;
            color: #808080;
        }

            h2 i {
                font-size: 18px;
                color: rgb(215,57,37);
            }

        .page-header a span {
            display: block;
            width: 30px;
            margin: 0px auto;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            color: #808080;
            border: rgb(210,214,222);
        }

        .switch-container {
            position: relative;
            top: 18px;
        }

        .switch-label {
            position: relative;
            top: -17px;
        }

        .page-header a {
            color: #808080;
        }

        .page-header .finish {
            color: green;
        }

        .page-header a.finish span {
            background-color: green;
        }
    </style>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                Employee Profile
            </h3>
        </div>
        <div class="box-body" ng-controller="EmployeeProfileController">


            <div class="row">
                <div class="col-sm-12">
                    <div id="form-container">
                        <form id="EmployeeProfile" name="EmployeeProfile" enctype="multipart/form-data" ng-class="{'submitted':submitted}" ng-submit="SaveEmlployee(EmployeeHeader)" data-rightValue="EmployeeDirectory.Save" novalidate>
                            <div class="row">
                                <div class="col-md-8">

                                    <h2><i class="zmdi zmdi-account m-r-10"></i>&nbsp; Basic Information</h2>

                                    <div class="m-t-20" id="basic-information">

                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>Employee Id Type</label>
                                                    <select name="EmployeeTypeList"
                                                            ng-options="s.LookUpID as s.LookUpCode for s in EmployeeTypeList"
                                                            ng-model="EmployeeHeader.IDType"
                                                            ng-change="onChangeEmployeeType()"
                                                            class="form-control valid" ng-required="true">
                                                        <option value="">--Select EmployeeType--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>Employee Number</label>
                                                    <input class="form-control " type="text" ng-model="EmployeeHeader.IDNumber" ng-disabled="true" style="font-weight:bold">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        Date Of Joining
                                                    </label>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="JoiningDate" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-sm datepicker valid"
                                                                       ng-model="EmployeeHeader.EmployeeWorkDetail.JoiningDate"
                                                                       name="EmployeeHeader.EmployeeWorkDetail.JoiningDate"
                                                                       ng-required="true"
                                                                       date-time-input="{{dateFormat}}">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="EmployeeHeader.EmployeeWorkDetail.JoiningDate" ng-change="CheckJoiningDate(EmployeeHeader.EmployeeWorkDetail.JoiningDate)"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#JoiningDate', startView:'day', minView:'day' }" />
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        First Name
                                                    </label>
                                                    <input class="form-control" type="text" ng-model="EmployeeHeader.FirstName"
                                                           ng-required="true"
                                                           ng-change="onChageText(EmployeeHeader.FirstName)">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        Middle Name
                                                    </label>
                                                    <input class="form-control" type="text" ng-model="EmployeeHeader.MiddleName">
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        Last Name
                                                    </label>
                                                    <input class="form-control" type="text" ng-model="EmployeeHeader.LastName" ng-required="true" ng-change="onChangeText(EmployeeHeader.LastName)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        Date Of Birth
                                                    </label>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="DOB" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-sm datepicker"
                                                                       ng-model="EmployeeHeader.EmployeePersonalInfo.DOB"
                                                                       name="EmployeeHeader.EmployeePersonalInfo.DOB"
                                                                       ng-required="true"
                                                                       date-time-input="{{dateFormat}}">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="EmployeeHeader.EmployeePersonalInfo.DOB"
                                                                            ng-change="ageChecking(EmployeeHeader.EmployeePersonalInfo.DOB)"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#DOB', startView:'day', minView:'day' }" />
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-8 ">
                                                <div class="form-group">
                                                    <label class="radio-inline">
                                                        <b>Gender &nbsp;&nbsp;</b>
                                                    </label>

                                                    <label class="radio-inline">
                                                        <input type="radio" id="genderChoice1"
                                                               name="gender" value="0" ng-model="EmployeeHeader.EmployeePersonalInfo.Gender">
                                                        Male
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" id="genderChoice2"
                                                               name="gender" value="1" ng-model="EmployeeHeader.EmployeePersonalInfo.Gender">
                                                        Female
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" id="genderChoice3"
                                                               name="gender" value="2" ng-model="EmployeeHeader.EmployeePersonalInfo.Gender">
                                                        Other
                                                    </label>


                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>Email</label>
                                                    <input class="form-control valid" autocomplete="off"
                                                           type="Email"
                                                           ng-required="true"
                                                           ng-model="EmployeeHeader.Address.Email"
                                                           ng-blur="onChageText(EmployeeHeader.Address.Email);EmailValid();">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        Mobile Number
                                                    </label>
                                                    <input class="form-control valid" type="text" ng-model="EmployeeHeader.Address.MobileNo"
                                                           ng-required="true" ng-change="onChageText(EmployeeHeader.Address.MobileNo)" logicon-number />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        Father's name
                                                    </label>
                                                    <input class="form-control " autocomplete="off" type="text" ng-model="EmployeeHeader.EmployeePersonalInfo.FatherName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>Confirmation Date</label>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="ConfirmationDate" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-sm datepicker valid"
                                                                       ng-model="EmployeeHeader.EmployeeWorkDetail.ConfirmationDate"
                                                                       name="EmployeeHeader.EmployeeWorkDetail.ConfirmationDate"
                                                                       ng-required="true"
                                                                       date-time-input="{{dateFormat}}">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="EmployeeHeader.EmployeeWorkDetail.ConfirmationDate" ng-change="CompareDates(EmployeeHeader.EmployeeWorkDetail.ConfirmationDate)"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#ConfirmationDate', startView:'day', minView:'day' }" />
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        Nationality
                                                    </label>
                                                    <select name="Nationality" ng-options="s.CountryCode as s.CountryName for s in Countries"
                                                            ng-model="EmployeeHeader.Nationality" class="form-control"
                                                            ng-required="true" ng-change="onChangeText(EmployeeHeader.Nationality)">
                                                        <option value="">--Select Nationality--</option>
                                                    </select>
                                                    <!--<input class="form-control valid" type="text" ng-model="EmployeeHeader.Nationality" ng-required="true" ng-change="onChangeText(EmployeeHeader.Nationality)">-->
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>MaritalStatus</label>
                                                    <select name="MaritalStatus"
                                                            ng-options="s.LookUpID as s.LookUpCode for s in MaritalStatus"
                                                            ng-model="EmployeeHeader.EmployeePersonalInfo.MaritalStatus"
                                                            ng-change="onChangeEmployeeType(EmployeeHeader.MaritalStatus)"
                                                            class="form-control valid" ng-required="true">
                                                        <option value="">--Select--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4" ng-if="EmployeeHeader.EmployeePersonalInfo.MaritalStatus == 1067">
                                                <div class="form-group">
                                                    <label>
                                                        Marriage Date
                                                    </label>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="MarriageDate" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-sm datepicker"
                                                                       ng-model="EmployeeHeader.EmployeePersonalInfo.MarriageDate"
                                                                       name="EmployeeHeader.EmployeePersonalInfo.MarriageDate"
                                                                       date-time-input="{{dateFormat}}">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="EmployeeHeader.EmployeePersonalInfo.MarriageDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#MarriageDate', startView:'day', minView:'day' }" />
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-4" ng-if="EmployeeHeader.EmployeePersonalInfo.MaritalStatus == 1067">
                                                <div class="form-group ">
                                                    <label>
                                                        Spouse Name
                                                    </label>
                                                    <input class="form-control " autocomplete="off" type="text" ng-model="EmployeeHeader.EmployeePersonalInfo.SpouseName">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>Emergency Contact Name</label>
                                                    <input type="text" class="form-control" ng-model="EmployeeHeader.EmployeePersonalInfo.EmergencyContactName" />
                                                </div>
                                            </div>



                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>Emergency Contact Number</label>
                                                    <input type="text" class="form-control" ng-model="EmployeeHeader.EmployeePersonalInfo.EmergencyContactNumber" />
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        Nationality
                                                    </label>
                                                    <select name="Nationality" ng-options="s.CountryCode as s.CountryName for s in Countries"
                                                            ng-model="EmployeeHeader.Nationality" class="form-control"
                                                            ng-required="true" ng-change="onChangeText(EmployeeHeader.Nationality)">
                                                        <option value="">--Select Nationality--</option>
                                                    </select>
                                                    <!--<input class="form-control valid" type="text" ng-model="EmployeeHeader.Nationality" ng-required="true" ng-change="onChangeText(EmployeeHeader.Nationality)">-->
                                                </div>
                                            </div>

                                        </div>
                                        <h2><i class="zmdi zmdi-account-box-o m-r-10"></i>&nbsp; Employee Position </h2>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Designation
                                                    </label>
                                                    <select name="users" ng-options="s.LookUpID as s.LookUpCode for s in EmployeeDesignation"
                                                            ng-model="EmployeeHeader.EmployeeWorkDetail.DesignationId" class="form-control valid"
                                                            ng-change="onChageText(EmployeeHeader.EmployeeWorkDetail.DesignationId)">
                                                        <option value="">--Select Designation--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Department
                                                    </label>
                                                    <select name="users" ng-options="s.LookUpID as s.LookUpCode for s in EmployeeDepartment"
                                                            ng-model="EmployeeHeader.EmployeeWorkDetail.DepartmentId" class="form-control valid"
                                                            ng-change="onChageText(EmployeeHeader.EmployeeWorkDetail.DepartmentId)">
                                                        <option value="">--Select Department--</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-md-2">
                                                <div class="form-group ">
                                                    <label>
                                                        Notice Period
                                                    </label>
                                                    <select name="EmployeeHeader.EmployeeWorkDetail.NoticePeriod" ng-options="s.LookUpID as s.LookUpCode for s in NoticePeriod"
                                                            ng-model="EmployeeHeader.EmployeeWorkDetail.NoticePeriod" class="form-control valid">
                                                        <option value="">--Notice Period--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-2">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Probition Period
                                                    </label>
                                                    <select name="EmployeeHeader.EmployeeWorkDetail.ProbationPeriod" ng-options="s.LookUpID as s.LookUpCode for s in ProbabtonPeriod"
                                                            ng-model="EmployeeHeader.EmployeeWorkDetail.ProbabtonPeriod" class="form-control valid">
                                                        <option value="">--Probation Period--</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!--<div class="col-xs-12 col-md-6">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Location
                                                    </label>
                                                    <select name="users" ng-options="s.Id as s.CountryName for s in Locations" ng-model="countryId" class="form-control">
                                                        <option value="">--Select Location--</option>
                                                    </select>
                                                </div>
                                            </div>-->
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>Confirmation Date</label>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="ConfirmationDate" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-sm datepicker valid"
                                                                       ng-model="EmployeeHeader.EmployeeWorkDetail.ConfirmationDate"
                                                                       name="EmployeeHeader.EmployeeWorkDetail.ConfirmationDate"
                                                                       ng-required="true"
                                                                       ng-change="onChageText(EmployeeHeader.EmployeeWorkDetail.ConfirmationDate)"
                                                                       date-time-input="{{dateFormat}}">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="EmployeeHeader.EmployeeWorkDetail.ConfirmationDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#ConfirmationDate', startView:'day', minView:'day' }" />
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <div class="form-group ">
                                                    <label>
                                                        Resigned on
                                                    </label>
                                                    <div class="dropdown">
                                                        <a class="dropdown-toggle" id="ResignationDate" role="button" data-toggle="dropdown">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control input-sm datepicker"
                                                                       ng-model="EmployeeHeader.EmployeeWorkDetail.ResignationDate"
                                                                       name="EmployeeHeader.EmployeeWorkDetail.ResignationDate"
                                                                       ng-required="true"
                                                                       ng-change="onChageText(EmployeeHeader.EmployeeWorkDetail.ResignationDate)"
                                                                       date-time-input="{{dateFormat}}">
                                                                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                                            </div>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker ng-model="EmployeeHeader.EmployeeWorkDetail.ResignationDate"
                                                                            data-datetimepicker-config="{ dropdownSelector: '#ResignationDate', startView:'day', minView:'day' }" />
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <h2><i class="zmdi zmdi-folder-star m-r-10"></i>&nbsp; Employee Documents </h2>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">

                                                <div class="table-responsive">
                                                    <table class="table table-vmiddle">

                                                        <tr>
                                                            <th>Document Name</th>
                                                            <th>Document Type</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <td><label>UID Card</label></td>
                                                            <td class="documentColor">
                                                                <a ng-if="UIDCard != null" >
                                                                    <i class="fa fa-remove"></i>
                                                                </a> {{UIDCard.name}}
                                                            </td>
                                                            <td>
                                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <span class="btn btn-primary btn-file">
                                                                        <span class="fileinput-new"> <i class="fa fa-upload" aria-hidden="true"></i> Upload File</span>
                                                                        <input type="file"
                                                                               id="containerFile"
                                                                               name="containerFile"
                                                                               class="form-control"
                                                                               onchange="angular.element(this).scope().EmployeeDocumentsUpload(this,'UIDCard')">
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><label>Education Documents</label></td>
                                                            <td >
                                                                <ul>
                                                                    <li ng-repeat="file in EducationDocuments" class="documentColor">
                                                                        <a>
                                                                            <i class="fa fa-remove"></i>
                                                                        </a>{{file.name}}
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <span class="btn btn-primary btn-file m-r-10">
                                                                        <span class="fileinput-new"> <i class="fa fa-upload" aria-hidden="true"></i> Upload File</span>
                                                                        <input type="file" multiple
                                                                               id="containerFile"
                                                                               name="containerFile"
                                                                               class="form-control"
                                                                               onchange="angular.element(this).scope().EmployeeDocumentsUpload(this,'EducationDocuments')">
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    Experience Letters
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <ul >
                                                                    <li ng-repeat="file in ExperienceLetters" class="documentColor">
                                                                        <a>
                                                                            <i class="fa fa-remove"></i>
                                                                        </a>{{file.name}}
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <span class="btn btn-primary btn-file m-r-10">
                                                                        <span class="fileinput-new"> <i class="fa fa-upload" aria-hidden="true"></i> Upload File</span>
                                                                        <input type="file" multiple
                                                                               id="containerFile"
                                                                               name="containerFile"
                                                                               class="form-control"
                                                                               onchange="angular.element(this).scope().EmployeeDocumentsUpload(this,'ExperienceLetters')">
                                                                    </span>

                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    Project Documents
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <ul>
                                                                    <li ng-repeat="file in ProjectDocuments" class="documentColor"> 
                                                                        <button>
                                                                                <i class="fa fa-remove"></i>{{file.name}}
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <span class="btn btn-primary btn-file m-r-10">
                                                                        <span class="fileinput-new"> <i class="fa fa-upload" aria-hidden="true"></i> Upload File</span>
                                                                        <input type="file" multiple
                                                                               id="containerFile"
                                                                               name="containerFile"
                                                                               class="form-control"
                                                                               onchange="angular.element(this).scope().EmployeeDocumentsUpload(this,'ProjectDocuments')">
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label>
                                                                    Other Documents
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <ul>
                                                                    <li ng-repeat="file in OtherDocuments" class="documentColor">
                                                                        <a>
                                                                            <i class="fa fa-remove"></i>
                                                                        </a>{{file.name}}

                                                                    </li>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <span class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <span class="btn btn-primary btn-file m-r-10">
                                                                        <span class="fileinput-new"> <i class="fa fa-upload" aria-hidden="true"></i> Upload File</span>
                                                                        <input type="file" multiple
                                                                               id="containerFile"
                                                                               name="containerFile"
                                                                               class="form-control"
                                                                               onchange="angular.element(this).scope().EmployeeDocumentsUpload(this, 'OtherDocuments')">
                                                                    </span>
                                                                    <span class="fileinput-filename"></span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h2><i class="zmdi zmdi-pin m-r-10"></i>&nbsp; Employee Address </h2>
                                    <div class="row">
                                        <div class="col-xs-12 ">
                                            <div class="form-group fg-line">
                                                <label>
                                                    Address
                                                </label>
                                                <input id="Address" class="form-control valid" type="text" ng-model="EmployeeHeader.Address.Address1"
                                                       ng-required="true" ng-change="onChangeText(EmployeeHeader.Address.Address1)" />
                                            </div>
                                            <div class="form-group fg-line">
                                                <label>
                                                    Address2
                                                </label>
                                                <input id="Address2" class="form-control valid" type="text" ng-model="EmployeeHeader.Address.Address2"
                                                       ng-required="true" ng-change="onChangeText(EmployeeHeader.Address.Address2)" />
                                            </div>
                                            <div class="form-group fg-line">
                                                <label>
                                                    City
                                                </label>
                                                <input id="City" class="form-control valid" type="text" ng-model="EmployeeHeader.Address.CityName"
                                                       ng-required="true" ng-change="onChangeText(EmployeeHeader.Address.CityName)" />
                                            </div>
                                            <div class="form-group fg-line">
                                                <label>
                                                    State
                                                </label>
                                                <input id="State" class="form-control valid" type="text" ng-model="EmployeeHeader.Address.StateName"
                                                       ng-required="true"
                                                       ng-change="onChangeText(EmployeeHeader.Address.StateName)" />
                                            </div>
                                            <div class="form-group fg-line">
                                                <label>
                                                    Postal Code
                                                </label>
                                                <input id="PostalCode" class="form-control valid" type="text"
                                                       ng-model="EmployeeHeader.Address.ZipCode"
                                                       ng-required="true" ng-change="onChangeText(EmployeeHeader.Address.ZipCode)" maxlength="6" logicon-number />
                                            </div>
                                            <div class="form-group fg-line">

                                                <label for="Country"> Country</label>

                                                <select name="Country"
                                                        ng-options="s.CountryCode as s.CountryName for s in Countries"
                                                        ng-model="EmployeeHeader.Address.CountryCode"
                                                        class="form-control valid"
                                                        ng-change="onChangeText(EmployeeHeader.Address.CountryCode)">
                                                    <option value="">--Select Country--</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <h2><i class="zmdi zmdi-assignment m-r-10"></i>&nbsp; Employee Login </h2>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <div class="form-group fg-line">
                                                <label>
                                                    Email
                                                </label>
                                                <input id="Email" class="form-control valid" type="text" ng-model="EmployeeHeader.UserEmailId"
                                                       ng-blur="onChageText(EmployeeHeader.UserEmailId);EmailValid();" ng-required="true" />
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <div class="switch-container">
                                                <label class="switch-label" style="margin-left:10px;margin-right:15px;">Status</label>
                                                <label class="switch">
                                                    <input type="checkbox" ng-model="EmployeeHeader.IsActive">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 ">
                                            <div class="form-group fg-line">
                                                <label>
                                                    Password
                                                </label>
                                                <input id="Password" class="form-control valid" type="password" ng-model="EmployeeHeader.Password"
                                                       ng-required="true" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 ">
                                            <div class="form-group fg-line">
                                                <label>
                                                    Confirm Password
                                                </label>
                                                <input id="Password" class="form-control valid" type="password" ng-model="EmployeeHeader.ConfirmPassword"
                                                       compare-to="EmployeeHeader.Password" ng-required="true" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>   @*<div id="form-views" ui-view>
                                    <div ng-include="detailsUrl"></div>
                                </div>*@
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <button class="btn  btn-primary" type="submit">
                                        <i class="fa fa-floppy-o"></i> &nbsp;Save
                                    </button>
                                    <button class="btn  btn-default" type="submit">
                                        <i class="fa fa-eraser"></i> &nbsp;Clear
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
