<div class="row" ng-controller="EmployeeProfileController" ng-init="GetEmployeeDetails()">
    <div class="table-responsive">
        <div class="pull-right">
            <div>
                <button type="button" class="btn" ng-click="AddNewEmployeeDetails()">
                    <i class="zmdi zmdi-plus"></i> Add
                </button>

            </div>
        </div>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>#Action</th>
                    <th>
                        Employee No
                    </th>
                    <th>Employee Name</th>
                    <th>Join Date</th>
                    <th>Phone No</th>
                    <th>Email</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employeeDetails in EmployeeDetailsList">
                    <td>
                        <button type="button" ng-click="onEditEmployeeDesignation(employeeDetails)" class="btn btn-default ng-scope waves-effect" aria-label="button">
                            <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>{{employeeDetails.EmployeeId}}</td>
                    <td>{{employeeDetails.EmployeeName}}</td>
                    <td>{{employeeDetails.JoiningDate}}</td>
                    <td>{{employeeDetails.MobileNo}}</td>
                    <td>{{employeeDetails.Email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>