<style>
    .page-header a {
        display: inline-block;
        font-size: 12px;
        min-width: 200px;
        text-align: center;
    }

    .page-header span {
        display: block;
    }

  
        .page-header a span {
            display: block;
            width: 30px;
            margin: 0px auto;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            color: #808080;
            border:rgb(210,214,222);
        }
   .page-header a {
    color:#808080;
    }
          .page-header .finish {
        color: green;
    }
    .page-header a.finish span {
         background-color: green;
    }

</style>
<div class="box box-widget">
    <div class="box-header with-border">
        <h3 class="box-title">
            Employee Profile
        </h3>
    </div>
    <div class="box-body">
        <div class="row" ng-controller="EmployeeProfileController">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="form-container">
                    <div class="page-header text-center">
                        <div id="status-buttons" class="text-center">
                            <a ui-sref-active="active" ><span class="basic" style="background-color:rgb(238,238,238);">1</span> Basic Information</a>
                            <a ui-sref-active="active" ><span class="address" style="background-color:rgb(238,238,238);">2</span> Employee Address</a>
                            <a ui-sref-active="active"><span class="position" style="background-color:rgb(238,238,238);">3</span> Employee Position</a>
                            <a ui-sref-active="active" ><span class="logindetails" style="background-color:rgb(238,238,238);">4</span> Employee Login</a>
                            @*<a ui-sref-active="active" ui-sref=".EmployeePFESI"><span>4</span> PF &amp; ESI</a>
                            <a ui-sref-active="active" ui-sref=".EmployeePaymentMode"><span>5</span> Payment Mode</a>*@
                        </div>
                    </div>
                    <form id="EmployeeProfile" name="EmployeeProfile" ng-submit="SaveEmlployee(EmployeeHeader)"ng-class="{'submitted':submitted}" has-Right data-rightValue="EmployeeDirectory.Save"novalidate>
                        <div id="form-views" ui-view>
                            <div ng-include="detailsUrl"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>