<div class="row" ng-controller="EmployeeProfileController">
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        Employee No
                    </th>
                    <th>Employee Name</th>
                    <th>Join Date</th>
                    <th>Status</th>
                    <th>Phone No</th>
                    <th>Email</th>
                    <th>Extension Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                        <td>{{employeeDetailsList.EmployeePersonalInfoId}}</td>
                        <td>{{employeeDetailsList.FirstName}}</td>
                        <td>{{Date}}</td>
                        <td>{{Status}}</td>
                        <td>{{num}}</td>
                        <td>{{Email}}</td>
                        <td>{{extnum}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>