

<section class="content">
    <div class="bs-example list-items">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3" has-Right data-rightValue="EmployeeDirectory.EmployeeDirectory">

                        <div class="main-section grey ">
                            <a data-ui-sref="EmployeeDirectory">
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-black-tie fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    <b>Employee Directory</b>
                                    <p>Create or Modify the Employee Directory</p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="main-section blue">
                            <a data-ui-sref="EmployeeProfileInfo">
                                <div class="menu_section blue">
                                    <span>  <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section blue-btm">
                                    <b> Employee Info</b>
                                    <p>Create or Modify the Employee Info </p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>