<div ng-controller="PaymentTypeController">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Payment Type</h3>
                    <div class="add-top box-tools">
                        <a href="" class="btn btn-primary waves-effect pull-right btn-sm " ng-click="addPaymentType(table)"> <i class="zmdi zmdi-account-add"> Add Payment Type</i></a>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div>
                    <div class="modal fade in" id="AddPaymentTypeDialog" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Payment Type</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Payment Type Name</label>
                                                <input type="text"
                                                       ng-model="PaymentType.LookUpCode"
                                                       ng-maxlength="50" />
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label> Payment Type Description</label>
                                                <input type="text"
                                                       ng-model="PaymentType.LookUpDescription"
                                                       ng-maxlength="50" />
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12 ">
                                            <label>
                                                <input type="checkbox"
                                                       ng-model="PaymentType.IsActive"
                                                       name="PaymentType.IsActive" />
                                                IsActive
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="right: 270px;">
                                    <button class="btn btn-primary waves-effect" type="submit" ng-click="onClickSavePaymentType(PaymentType)">Save</button>
                                    <button type="submit" class="btn btn-primary waves-effect" ng-click="onClickCancelPaymentType()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Payment Type Name</th>
                                    <th>Payment Type Description</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="paymentType in PaymentTypes">
                                    <td><a ng-click="onEditPaymentType(paymentType)">{{paymentType.LookUpCode}}</a></td>
                                    <td>{{paymentType.LookUpDescription}}</td>
                                    <td><input type="checkbox" ng-model="paymentType.IsActive" disabled /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>