
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-wrapper" ng-controller="MainCtrl">
    <div id="content" class="content-header" style="min-height:{{iframeHeight + 'px'}}">
        <data ui-view></data>
    </div>
    @*<h2><p><font face="verdana" color="green">This is some text!</font></p></h2>*@

</section>





