

<div class="bs-example list-items">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-3">

                    <div class="main-section grey ">
                        <a data-ui-sref="Employee">

                            <div class="menu_section  grey">

                                <span><i class="fa fa-users fa-5x" aria-hidden="true"></i></span>

                            </div>
                            <div class="content-section grey-btm">
                                <b> Employee</b>
                                <p>View the Employee list</p>
                                <div class="btn btn-lg btn-danger"></div>
                            </div>
                        </a>

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="main-section green">
                        <a data-ui-sref="LeaveType">
                            <div class="menu_section green">

                                <span>  <i class="fa fa-sign-out fa-5x" aria-hidden="true"></i></span>


                            </div>
                            <div class="content-section green-btm">
                                <b> Leave</b>
                                <p>Create or Modify the Leave Type</p>
                                <div class="btn btn-lg btn-danger"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="main-section org">
                        <a data-ui-sref="PaymentType">
                            <div class="menu_section org">

                                <span>  <i class="fa fa-money fa-5x" aria-hidden="true"></i></span>


                            </div>
                            <div class="content-section org-btm">
                                <b> Pay Roll</b>
                                <p>Create or Modify the Pay Roll</p>
                                <div class="btn btn-lg btn-danger"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






