<section class="content">
    <div class="bs-example list-items">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3">

                        <div class="main-section grey ">
                            <a data-ui-sref="Employee">
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-black-tie fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    <b>Employee Designation</b>
                                    <p>Create or Modify the Employee Designation</p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                   
            </div>


        </div>
               
            </div>
        </div>
    </div>
</section>