<section class="content">
    <div class="bs-example">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3">

                        <div class="main-section grey ">
                            <a data-ui-sref="EmployeeDesgination">
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-black-tie fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section grey-btm">
                                    <b>Employee Designation</b>
                                    <p>Create or Modify the Employee Designation</p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-section blue">
                            <a data-ui-sref="EmployeeType">
                                <div class="menu_section blue">
                                    <span>  <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section blue-btm">
                                    <b> Employee Type</b>
                                    <p>Create or Modify the Employee Type </p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-section green">
                            <a data-ui-sref="LeaveType">
                                <div class="menu_section green">

                                    <span>  <i class="fa fa-sign-out fa-5x" aria-hidden="true"></i></span>


                                </div>
                                <div class="content-section green-btm">
                                    <b> Leave Type</b>
                                    <p>Create or Modify the Leave Type</p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-section org">
                            <a data-ui-sref="PaymentType">
                                <div class="menu_section org">

                                    <span>  <i class="fa fa-money fa-5x" aria-hidden="true"></i></span>


                                </div>
                                <div class="content-section org-btm">
                                    <b> Payment Type</b>
                                    <p>Create or Modify the Payment Type</p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><div class="row" style="padding-top:35px;">
                    <div class="col-md-3">
                        <div class="main-section dgreen">
                            <a data-ui-sref="EmployeeStatus">
                                <div class="menu_section dgreen">
                                    <span>  <i class="fa fa-street-view fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section dgreen-btm">
                                    <b> Employee Status</b>
                                    <p>Create or Modify the Employee Status</p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="main-section ddgreen">
                            <a data-ui-sref="EmployeeDepartment">
                                <div class="menu_section ddgreen">
                                    <span> <i class="fa fa-sitemap fa-5x" aria-hidden="true"></i></span>
                                </div>
                                <div class="content-section ddgreen-btm">
                                    <b> Employee Department</b>
                                    <p>Create or Modify the Employee Department</p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>