
<div class="bs-example list-items">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-3">

                    <div class="main-section grey ">
                        <a ui-sref="HolidayList">

                            <div class="menu_section  grey">

                                <span><i class="fa fa-database fa-5x" aria-hidden="true"></i></span>

                            </div>
                            <div class="content-section grey-btm">
                                <b> Holiday List</b>
                                <p>View the Holiday List</p>
                                <div class="btn btn-lg btn-danger"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="main-section blue">
                        <a ui-sref="AppliedLeaveList">
                            <div class="menu_section blue">
                                <span> <i class="fa fa-users  fa-5x" aria-hidden="true"></i></span>
                            </div>
                            <div class="content-section blue-btm">
                                <b> Applied Leave List</b>
                                <p>View the Applied Leave list</p>
                                <div class="btn btn-lg btn-danger"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="main-section green">
                        <a ui-sref="EmployeeLeave">
                            <div class="menu_section green">

                                <span> <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>  </span>

                            </div>
                            <div class="content-section green-btm">
                                <b> Employee Leave Request Form</b>
                                <p>View the Employee Leaves</p>
                                <div class="btn btn-lg btn-danger"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3" has-Right data-rightValue="GrantLeaveForm.GrantLeaveForm">
                    <div class="main-section green">
                        <a ui-sref="GrantLeave">
                            <div class="menu_section org">

                                <span> <i class="fa fa-file-text fa-5x" aria-hidden="true"></i>  </span>

                            </div>
                            <div class="content-section org-btm">
                                <b> Grant Leave Form</b>
                                <p>View the Grant Leaves</p>
                                <div class="btn btn-lg btn-danger"></div>
                            </div>
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>