<div ng-controller="EmployeeDesignationController">
    <form id="frmEmployeeDesignation" name="frmEmployeeDesignation" ng-submit="onClickSaveEmployeeDesignation(EmployeeDesignation)" ng-class="{'submitted':submitted}" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Employee Designation</h3>
                        <div class="pull-right">
                            <button type="button" class="button" ng-click="addEmployeeDesignation(table)">
                                <i class="zmdi zmdi-plus"></i>&nbsp; ADD
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="modal fade in" id="AddEmployeeDesignationDialog" role="dialog">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add Employee Designation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8">
                                                <div class="form-group fg-line">
                                                    <label>Employee Designation Name</label>
                                                    <input class="form-control input-mask" type="text" ng-model="EmployeeDesignation.LookUpCode" ng-required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8">
                                                <div class="form-group fg-line">
                                                    <label>
                                                        Employee Designation Description
                                                    </label>
                                                    <input class="form-control input-mask" type="text" ng-model="EmployeeDesignation.LookUpDescription" ng-required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-3">
                                                <div class="switch-container">
                                                    <label class="switch-label">
                                                        IsActive
                                                    </label>
                                                    <label class="switch pull-right">
                                                        <input type="checkbox" ng-model="EmployeeDesignation.IsActive">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="right: 270px;">
                                        <button class="button" type="submit" ng-click="submitted = true;">Save</button>
                                        <button type="submit" class="button button-default" ng-click="onClickCancelEmployeeDesignation()">Cancel</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>#Action</th>
                                        <th>Employee Designation Name</th>
                                        <th>Employee Designation Description</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="employeeDesignation in EmployeeDesignations">
                                        <td>
                                            <button type="button" ng-click="onEditEmployeeDesignation(employeeDesignation)" class="button button-default ng-scope waves-effect" aria-label="button">
                                                <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td><a ng-click="onEditEmployeeDesignation(employeeDesignation)">{{employeeDesignation.LookUpCode}}</a></td>
                                        <td>{{employeeDesignation.LookUpDescription}}</td>
                                        @*<td><input type="checkbox" ng-model="employeeDesignation.IsActive" disabled="true" /></td>*@
                                        <td>
                                            <div class="switch-container">
                                                <label class="switch">
                                                    <input type="checkbox" ng-model="employeeDesignation.IsActive" disabled>
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>