<div class="container-fluid " ng-controller="RolesController">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Roles</h3>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" ng-click="addEmployeeRoles(table)">
                            <i class="zmdi zmdi-plus"></i>&nbsp; Add New Role
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>#Action</th>
                                    <th>RoleCode</th>
                                    <th>Roledescription</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="employeeRoles in roles">
                                    <td>
                                        <button type="button" ng-click="onEditRoles(employeeRoles)" class="btn btn-primary btn-sm" aria-label="button">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>{{employeeRoles.RoleCode}}</td>
                                    <td>{{employeeRoles.RoleDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="modal fade in" id="addEmployeeRolesdialog" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Role</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="form-group fg-line">
                                <label>Role Code</label>
                                <input class="form-control input-mask" type="text" ng-model="role.RoleCode" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <div class="form-group fg-line">
                                <label>
                                    Role Description
                                </label>
                                <input class="form-control input-mask" type="text" ng-model="role.RoleDescription" ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="right: 270px;">
                    <button class="btn" type="submit" ng-click="SaveEmployeeRoles(role)">Save</button>
                    <button type="submit" class="btn btn-default" ng-click="onClickClose()">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>




