<div class="row" ng-controller="AppliedLeaveListController as Cntrl">
    <div class="col-md-4">
       
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Employee leave</h3>
            </div>
            <div class="box-body">
         
                    @*<div class="row">
                <div class="col-xs-12 ">
                    <h4>
                        Leave Grant
                    </h4>
                </div>
            </div>*@
                <div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <label class=""> Employee Id :</label>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <label class="content-label">{{AppliedLeaveList.EmployeeNumber}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <label class=""> Employee Name :</label>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <label class="content-label">{{AppliedLeaveList.EmployeeName}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">

                            <label class=""> Leave Type :</label>


                        </div>
                        <div class="col-xs-12 col-md-8">
                            <label class="content-label"> {{AppliedLeaveList.LeaveType}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">

                            <label class=""> Days :</label>


                        </div>
                        <div class="col-xs-12 col-md-8">
                            <label class="content-label">   {{AppliedLeaveList.Days}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">

                            <label class=""> From :</label>


                        </div>
                        <div class="col-xs-12 col-md-8">
                            <label class="content-label">{{AppliedLeaveList.FromDate}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">

                            <label class=""> To :</label>


                        </div>
                        <div class="col-xs-12 col-md-8">
                            <label class="content-label"> {{AppliedLeaveList.ToDate}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">

                            <label class=""> Reason :</label>


                        </div>
                        <div class="col-xs-12 col-md-8">
                            <label class="content-label"> {{AppliedLeaveList.Reason}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">

                            <label class=""> Remarks :</label>


                        </div>
                        <div class="col-xs-12 col-md-8">
                            <div>{{AppliedLeaveList.Remarks}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">

                            <label class=""> Manager Remarks :</label>


                        </div>
                        <div class="col-xs-12 col-md-8">
                            <div class="form-group">

                                <textarea class="form-control" rows="3" placeholder="Enter Remarks ..." ng-model="AppliedLeaveList.TeamLeadRemarks"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="button" class="btn" ng-click="AcceptOrReject(AppliedLeaveList,'Accepted')" ng-if="AppliedLeaveList.Status !='Accepted' && AppliedLeaveList.EmployeeId != null">Accept Grant</button>
                            <button type="button" class="btn btn-danger" ng-click="AcceptOrReject(AppliedLeaveList, 'Rejected')" ng-if="AppliedLeaveList.Status !='Rejected' && AppliedLeaveList.EmployeeId != null">Reject</button>
                            <button type="button" class="btn-default btn" ng-click="Back()">Back</button>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
    </div>
    <div class="col-md-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"> Leaves List</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th style="width: 15px">#</th>
                            <th>Employee Id</th>
                            <th>Employee Name</th>
                            <th>Apply Date</th>
                            <th>No.Of Days</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employeeLeave in EmployeeLeaveList">
                           <td ng-if="test">
                                <button type="button" class="btn btn-default ng-scope waves-effect" 
                                        ng-click="onEditEmployeeLeave(employeeLeave)" aria-label="button"
                                        >
                                    <i class="zmdi zmdi-edit" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td>{{employeeLeave.SNo}}</td>
                            <td>{{employeeLeave.EmployeeNumber}}</td>
                            <td>{{employeeLeave.EmployeeName}}</td>
                            <td>{{employeeLeave.ApplyDate}}</td>
                            <td>
                                {{employeeLeave.Days}}
                            </td>
                            
                            <td>{{employeeLeave.Status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
