<div class="row" ng-controller="EmployeeLeaveFormController">
    <div class="col-xs-12 ">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Employee Leave Form
                </h3>
            </div>
            <div class="box-body">

                <div class="row ">
                    <div class="col-xs-12 col-md-6 form-group">
                            <label >Employee Name</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="EmployeeLeaveForm.EmployeeName" name="EmployeeLeaveForm.EmployeeName"
                                   typeahead-min-length="3"
                                   uib-typeahead="response.EmployeeId as response.EmployeeName for response in EmployeeList($viewValue,'EmployeeName')"
                                   typeahead-wait-ms="100"
                                   typeahead-editable="false"
                                   typeahead-on-select="EmployeeSelected($item)"
                                   ng-required="true" />
                            @*<input type="text"
                                   class="search-icon"
                                   ng-model="EmployeeLeaveForm.EmployeeName" name="EmployeeLeaveForm.EmployeeName"
                                   typeahead-min-length="3"
                                   typeahead-loading="k8.LocalTraderDescriptionLoading"
                                   uib-typeahead="response.EmployeeId as response.EmployeeName for response in EmployeeList($viewValue,'EmployeeName')"
                                   typeahead-wait-ms="100"
                                   typeahead-editable="false"
                                   typeahead-on-select="EmployeeSelected($item)" />*@
                        @*</md-input-container>*@
                    </div>
                </div>
                <div class="row " id="some">
                    <div class="col-xs-12 col-md-6 form-group">
                        <label>From Date</label>
                        @*<div class="input-group">
                                <label class="input-group-btn" for="date-fld2">
                                    <span class="btn btn-default">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </label>
                                <input type="text" class="form-control date-input" id="date-fld2"
                                       ng-model="EmployeeLeaveForm.FromDate" datetime-picker date-only date-format="dd/MM/yyyy" min="minDate" />
                            </div>*@
                        @*<div class="input-group">
                                <input ng-model="EmployeeLeaveForm.FromDate" class="form-control input-sm datepicker"
                                       datetime-picker date-format="dd/MM/yyyy"  min="minDate" datepicker-show="startDateOpened" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="date()"></i></span>

                                @*<input type="text" class="form-control input-sm datepicker"
                                       ng-model="EmployeeLeaveForm.FromDate"
                                        date-time-input="dd/MM/yyyy" min="minDate"/>{{minDate}}
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>*@
                        @*</a>*@
                        @*<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="EmployeeLeaveForm.FromDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#fromDate' , startView:'day', minView:'day' }" />
                            </ul>*@
                        
                            <md-input-container class="md-block" flex-gt-sm>

                                <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateFrom" format="{{format}}"
                                       min-date="maxdate" ng-model="EmployeeLeaveForm.FromDate" />
                            </md-input-container>
                      
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-12 col-md-6 form-group">
                        <label>To Date</label>
                        @*<p class="input-group">
                            <input type="text" class="form-control"
                                   datetime-picker="mediumDate"
                                   ng-model="picker1.date"
                                   is-open="picker1.open"
                                   enable-time="false"
                                   datepicker-options="picker1.datepickerOptions"
                                   close-on-date-selection="false"
                                   datepicker-append-to-body="true" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'picker1')"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>*@
                        <md-input-container class="md-block" flex-gt-sm>

                            <input mdc-datetime-picker="" class="date-icon" date="true" time="false" type="text" id="dateFrom" format="{{format}}"
                                   min-date="EmployeeLeaveForm.FromDate" ng-model="EmployeeLeaveForm.ToDate" ng-change=""/>
                        </md-input-container>
                        @*<div class="input-group">
                                <label class="input-group-btn" for="date-fld">
                                    <span class="btn btn-default">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </label>
                                <input type="text" class="form-control date-input" id="date-fld"
                                       ng-model="EmployeeLeaveForm.ToDate" datetime-picker date-only future-only date-format="dd/MM/yyyy" datetime-picker-options="options"
                                       min-date="minDate" />
                            </div>*@
                        @*<div class="input-group">
                                <input ng-model="EmployeeLeaveForm.FromDate" class="form-control input-sm datepicker"
                                       datetime-picker date-format="dd/MM/yyyy"  min="minDate" datepicker-show="startDateOpened" />
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="date()"></i></span>

                                @*<input type="text" class="form-control input-sm datepicker"
                                       ng-model="EmployeeLeaveForm.FromDate"
                                        date-time-input="dd/MM/yyyy" min="minDate"/>{{minDate}}
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>*@
                        @*</a>*@
                        @*<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="EmployeeLeaveForm.FromDate"
                                                data-datetimepicker-config="{ dropdownSelector: '#fromDate' , startView:'day', minView:'day' }" />
                            </ul>*@
                    </div>
                    @*<div class="col-xs-12 col-md-6 form-group">
                            <label>To Date</label>
                            @*<div class="dropdown">
                                    <a class="dropdown-toggle" id="toDate" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm datepicker"
                                                   ng-model="EmployeeLeaveForm.ToDate" data-date-options="options" >
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="EmployeeLeaveForm.ToDate" min-date="options.min"
                                                        data-datetimepicker-config="{ dropdownSelector: '#toDate' , startView:'day', minView:'day' }" />
                                    </ul>
                                </div>
                        </div>*@
                </div>
                <div class="row ">
                    <div class="col-xs-12 col-md-6 form-group">
                        <label for="days">Days</label>
                        <md-input-container class="md-block" flex-gt-sm>
                            <input id="days" class="form-control" type="text" ng-disabled="true" ng-model="EmployeeLeaveForm.Days" />
                        </md-input-container>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-12 col-md-6 form-group">
                        <md-input-container class="md-block" flex-gt-sm>
                        <label for="reason">Reason</label>
                            <input id="reason" class="form-control" type="text" ng-model="EmployeeLeaveForm.ReasonForLeave" />
                    </div>

                </div>
                <div class="row ">
                    <div class="col-xs-12 col-md-6 form-group">
                        <md-input-container class="md-block" flex-gt-sm>
                        <label for="remarks">Remarks</label>
                            <input id="remarks" class="form-control" type="text" ng-model="EmployeeLeaveForm.Remarks" />
                    </div>
                </div>
                <div class="row m-t-25">
                    <div class="col-xs-12 text-right">

                        <!--has-permission data-securable="Save" data-linkid="Company"-->
                        <button class="btn btn-primary" type="submit" ng-click="onSaveEmployeeLeave(EmployeeLeaveForm)"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>
                        <button class="btn btn-clear" type="button" ng-click="OnClearEmployeeLeave(EmployeeLeaveFrom)"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;Clear</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
